@use '../../scss/base/variables' as v;

.cursosScreen {
    .encabezado {
        position: relative;
    }

    .flotante {
        position: absolute;
        top: 150px;
        left: 65%;

    }

    &-container {
        background-color: v.$fondo1;

        .cursosScreen-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 25px 50px 100px 50px;

            .contenido-izquierda {
                width: 50vw;
            }

            .contenido-derecha {
                width: 35vw;
                padding-top: 100px;
                padding-left: 80px;
                padding-right: 50px;
            }
        }

        .contenedor-titulo {
            padding-top: 25px;

            .titulo-c {
                font-size: 22.5px;
                padding: 10px 0;

            }

            .cont-line {
                padding: 50px 0 100px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}

@media (max-width: v.$breakpoint-medium) {
    .cursosScreen {
        .encabezado {
            
            
            .flotante {
                //position: static;
    
            }
        }

        

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* Centra horizontalmente */
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: #407a6d;

            .contenido-izquierda {
                justify-content: center;
                width: 100%;
            }
        }
    
    &-container {
        background-color: v.$fondo1;

        .cursosScreen-info {
            display: flex;
            flex-direction: column;
            
            //padding: 25px 50px 100px 50px;
            padding: 50px 10px;
            .contenido-izquierda {
                width: 95vw;
            }

            .contenido-derecha {
                width: 95vw;
                padding: 100px 10px;
            }
        }
    }
}
}
@media (max-width:v.$breakpoint-small){
    .cursosScreen {
        .encabezado {
            position: relative;
            height: 750px;
            background-color: #2C3331;
            display: flex;
            flex-direction: column;
            .flotante {
                position: static;
    
            }
            }
        }
}