@use '../../scss/base/variables' as v;
.bloq-txt {
    color: white;
}
.titulo {
    font-size: 22.5px;
    margin-bottom: 5px;
}
.conten{
    margin-left: 25px;
}
@media (max-width: v.$breakpoint-small) {
    .conten{
        margin: 10px;
    }
    
}