@use '../../scss/base/variables' as v;
.califRese {
    background-color: v.$primary800;
    .container-calif {
        h3{
            color:white;
        }
        padding: 150px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .data-container{
            display: flex;
            gap: 20px;
            padding: 35px;
        }
    }
}