//el guion bajo es para que sea un archivo secundario
//Tipografia
$fuente_principal:'Montserrat',sans-serif;
$fuente_parrafo:'Montserrat',sans-serif;
//colores




// $primary800:#2C3331;
$fondo1: #37504A;
$fondo2: #407A6D;
$fondo3: #3AA58c;
$fondo4: #1DB592;
$fondo5: #05FAC1;
$fondo6: #F5CC4C;
$fondo7: #9967A0;

$fondo8:#9967A0;
$primary800:#2C3331;
$primary500:#6C7D78;
$negro:#000;
$gris: #ccc;
$blanco:#fff;
//Tamanos de media queries
$telefono:480px;
$tablet:768px;
$desktop:992px;
$desktopXL:1200px;


@mixin line-clamp($number){
    overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: $number;
        -webkit-box-orient: vertical;
}
::-webkit-scrollbar{
    width: 0px;
}

$text-color: #b1bdb4;
$black-primary: #16181b;
$black-secondary: #121417;
$border-color:#4c4c4c;
$breakpoint-medium:1224px;
$breakpoint-small:520px;