.cuadro-portada-curso{
    display: flex;
    flex-direction: column;
    height: 165px;
    justify-content: space-around;
    padding: 5px 30px;
    background-color: #555;
    margin:10px 20px;
    border-radius: 12px;
    font-size: 25px;
    box-shadow: 6px 6px #fff7;
    overflow: hidden;
    max-width: 300px;
    position: relative;
    transition: background-color 0.5s ease;

    img{
        width:350px;
        height: 150px;
        object-fit: contain;
        margin: 0px;
    }
    .fijar2{
        width: 200px;
    }    
}
.loader-img2{
    position: absolute;
    right: 35%;
    top: 10%;

}

@media (max-width: 600px) {
    
}