@use '../../scss/base/variables' as v;
.titulo-barra-navegacion {
    background-color: #2C3331;
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 380px;
    .contenido{
        text-align: left;
        width: 60%;
        h1{
            margin-top: 100px;
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: bold;
          }

        .cont{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            p{
                margin-top: 3.5px;
            }
        }
        img{
            max-width: 26px;
        }
        .cont2{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            p{
                margin-top: 3.5px;
            }
        }
    }
}
@media (max-width: v.$breakpoint-small) {
    .titulo-barra-navegacion {
        .contenido{
            width: 100%;
        }
    }
}

@media (max-width:v.$breakpoint-small) {
    .titulo-barra-navegacion {
        background-color: #2C3331;
        padding-left: 30px;
        padding-top: 35px;
        padding-bottom: 35px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 380px;
        .contenido{
            text-align: left;
            //width: 90%;
        }
    }
}

  