.about{
    &-container{
        padding: 200px 20px 300px;
        display: flex;
        justify-content: center;
        background-image: url("../../assets/img/explanadaESCOM.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        background-position: 0 -300px;
    }
    .text-container-about{
        background-color: #ddd;
        color:black;
        border-radius: 30px;
        padding: 50px;
        width: 80%;
        box-shadow: 8px 8px #fff7;
        animation: identifier 1.5s ease-in;
        h2{
            padding: 30px 0 10px 0;
        }
        h5{
            padding: 10px 0;
        }
        p{
            line-height: 1.5rem;
        }
        li{
            padding: 5px 0;
        }
    }
}
@keyframes  identifier{
    0% {
        //transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        //transform: translate(0);
        opacity: 1;
      }
}