@use '../../scss/base/variables' as v;

.faqScreen {
    &-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 90vh;
        width: 100%;
        background-color: v.$fondo2;

        &-content {
            margin: 150px auto 0; /* Usar margin: 0 auto para centrar horizontalmente */
            padding: 0 20px 10px; 
            border: 1px solid transparent;
            border-radius: 5%;
            color: #393c3a;
            
            h3 {
                padding: 10px 5px; 
                color: v.$blanco;
            }

            h6 {
                padding: 10px 5px 1px; 
                color: v.$blanco;
                text-align: center;
            }
        }
    }
}
