.titulo-barra-navegacionn {
  background-color: #2C3331;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(225, 98, 98, 0.1);
  height: 195px;
}

.titulo-barra-navegacionn h1 {
  margin-top: 130px;
  font-size: 1.5rem;
  color: #ffffff;
}