@use '../../scss/base/variables' as v;
/************ Footer Css ************/
.footer {
  font-weight: 500;

  padding: 40px 0;
    background-color: v.$primary500;
    &-container{
      display: flex;
      justify-content: space-around;
      gap:50px;
      align-items: center;
    }
    img{
      max-width: 200px;
      min-width: 100px;
    }
    li{
      padding-bottom: 10px;
    }
    a{
      color:white;
    }
  }





  