@use '../../scss/base/variables' as v;


.accordion2 {
    h3 {
        color: #000;
    }
    
    background-color: #6C7D78;
    &-title {
        cursor: pointer;
        padding: 10px 20px;
        margin: 5px 0;
        border: 0px solid #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);

        h4 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            width: 100%;
        }
    }

    &-icon {
        font-size: 18px;
        transition: transform 0.4s ease;
    }

    &-icon.open {
        transform: rotate(180deg);
    }

    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, padding 0.6s ease;
        padding: 0 7px;
        //display: flex;
        gap:10px;
        li{
            padding: 7px;
            margin: 10px 0;
            border:white solid 3px;
            width: 100%;
        }
    }

    &-content.open {
        max-height: 500px;
        /* Ajusta esta altura según sea necesario */
        padding: 7px 0px;
        overflow: hidden
        
        
    }
    &-cursoComprado{
        cursor: pointer;
        &:hover{
            background-color: v.$primary800;
        }
    }
}